[submodule "CryptocurrencyWebScrapingAndSentimentAnalysis"]
	path = CryptocurrencyWebScrapingAndSentimentAnalysis
	url = https://github.com/llens/CryptocurrencyWebScrapingAndSentimentAnalysis.git
	branch = master
